.chat-container {
    width: 61%;
    height: auto;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.chat-content {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    height: 83%;
}

.chat-content span {
    color: black;
}
