.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background: crimson;
    color: white;
}

.header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 ;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    margin: 0 15px;
}

.logout {
    display: flex;
    align-items: center;
}

.logout a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}