.success {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #197ad3;
    color: white;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    line-height: 2em;
    box-sizing: border-box;
    padding: 15px;
}

.success p {
    font-size: 20px;
}

.success button {
    padding: 15px;
    cursor: pointer;
    background-color: #6dabe4;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.success a {
    text-decoration: none;
    color: white;
}

.success a:hover {
    text-decoration: underline;
}